.button {
    height: unset !important;
    //padding-bottom: unset !important;
    //padding-top: unset !important;
    //vertical-align: unset !important;
    //padding-left: 9px !important;
    //padding-right: 9px !important;
}

.control {
    //.input {
    //    height: unset !important;
    //    padding-bottom: unset !important;
    //    padding-right: unset !important;
    //    padding-top: unset !important;
    //    padding-left: 1.5em !important;
    //    width: 130px;
    //    font-size: unset !important;
    //}
    //
    //span.is-left {
    //    height: 1.5rem !important;
    //    width: 1.5rem !important;
    //    top: 1px !important;
    //}
}
