@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');

[v-cloak] {
    display: none;
}

.hide-native-scrollbar {
    * {
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0 !important;
        }
    }
}

.__stack-container,
.__stack-files,
.__stack-sidebar,
.__files-boxs,
img {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.media-manager * {
    font-family: 'Miriam Libre', 'Arial', sans-serif;
    //font-family: 'Roboto', 'Arial', sans-serif;
    //font-size: 1rem;
}
