.image-preview {
    .image {
        overflow-y: auto;
        max-height: 400px;
        overflow-x: hidden;
        background-color: #f5f5f5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        img {
            width: 100%;
            //border-left: 1px dashed;
            //border-top: 1px dashed;
            //border-right: 1px dashed;
        }

        .remove-image {
            position: absolute;
            top: 1px;
            right: 1px;
            cursor: pointer;
            border: none;
            font-size: .725rem;
        }

        .multiple-images {
            width: 100%;
            border-radius: 10px;

            .image-item {
                width: 50%;
                float: left;
                position: relative;

                img {
                    width: 100%;
                    height: 120px;
                    object-fit: cover;
                    padding: 5px;
                    border-radius: 10px;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .1s ease-in-out;
                    transition: .1s ease-in-out;

                    &:hover {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }

                .remove-image {
                    position: absolute;
                    top: 1px;
                    right: 1px;
                    cursor: pointer;
                    border: none;
                }
            }
        }
    }

    .actions {
        .select-image {
            width: 100%;
            padding: .25rem;
            font-size: .875rem;
        }
    }
}
