.media-modal {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    padding-top: 0;
}

.media-modal-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($dark, 0.98);
}

.media-modal-content {
    width: 100%;
    max-height: unset;
    margin: 0;
}

.media-modal-close {
    z-index: 2;
}
