@import '../../packages/@loipham/plyr-player/src/sass/plyr';
.plyr--video,
.plyr--audio {
    .plyr__control {
        &.plyr__tab-focus,
        &:hover,
        &[aria-expanded='true'] {
            background-color: #f5164d !important;
        }
    }
}

.plyr--full-ui input[type=range] {
    color: #3bea91;
}

.plyr__control--overlaid {
    background: #7f4cf1;
}

.plyr__control.plyr__tab-focus,
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
    box-shadow: none;
}
